.profile-info {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 15px;
    &__img {
        flex-grow: 1;
        flex: 1;
        margin-right: 30px;
        img {
            border: 1px solid $grey-lite;
            border-radius: 50%;
            display: block;
            max-width: 152px;
            margin: 0 auto;
        }
    }
    &__stats {
        flex: 2; 
        flex-shrink: 1;
        margin-bottom: 40px;
         > div {
            margin-bottom: 20px;
        }
        h1 {
            display: inline-block;
            font-size: 32px;
            font-weight: 300;
            margin: 0;
        }
        div {
            &:first-child {
                display: flex;
                align-items: center;
                margin-bottom: 20px;
            }
        }
        .simple-btn {
            margin-left: 20px;
            text-align: center;
        }
        .nav-icon {
            margin-left: 8px;
        }
        ul {
            padding: 0;
            margin: 0 0 20px 0;
            list-style: none;
            li {
                display: inline-block;
                padding: 0 30px 0 0;
            }
        }
        p {
          
        }
    }
    p {
        line-height: 1.4;
    }
    &__mobile-blurb {
        display: none;
    }
    &__mobile-stats {
        display: none;
    }
}

@media (max-width: 600px){
    .profile-info {
        &__img {
            flex: 1 0;
            margin-right: 20px;
            img {
                width: 77px;
            }
        }
        &__stats {
            flex: 2; 
            flex-shrink: 1;
            margin-bottom: 30px;
            > div {
                margin-bottom: 0;
            }
            h1 {
                font-size: 22px;
                margin-bottom: 14px;
                order: -1;
            }
            div {
                &:first-child {
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    margin: 0;
                    h1 {
                        margin: 0;
                    }
                }
                &:last-child {
                   p {
                    font-size: 12px;
                   }
                }
            }
            .simple-btn {
                display: block;
                min-width: 100%;
                margin: 0;
                order: 2;
            }
            .nav-icon {
                margin: 2px 0 0 8px;
                align-self: flex-start;
            }
            ul {
                display: none;
            }
            
        }
        p {
            font-size: 14px;
        }
        &__mobile-blurb {
            border-bottom: 1px solid $grey-lite;
            display: block;
            margin-bottom: 12px;
            width: calc(100% + 30px);
            margin: 0 -15px 12px;
            padding: 0 15px;
        }
        &__mobile-stats {
            border-top: 1px solid $grey-lite;
            padding: 10px 0 0;
            display: block;
            width: calc(100% + 30px);
            margin: 0 -15px 12px;
            ul {
                display: flex;
                justify-content: center;
                padding: 0;
                margin: 0;
                list-style: none;
                li {
                    display: inline-block;
                    width: 33%;
                    font-size: 14px;
                    text-align: center;
                    span:first-of-type {
                        color: $secondary-text;
                    }
                }
            }
        }
    }
}