html {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.logo-font {
    font-family: 'Satisfy', cursive;
}

b {
    font-weight: 500;
}

a {
    color: $link-blue;
    font-weight: 500;
    text-decoration: none;
    transition: color 0.25s ease;
    &:hover {
        color: $link-blue-hover;
    }
}