.main-logo {
    display: inline-flex;
    justify-content: center;
    color: $default-text;
    &__img {
        display: inline-block;
        font-size: 30px;
        margin-right: 40px;
        vertical-align: middle;
        position: relative;
        &::after {
            content: '';
            display: inline-block;
            height: 90%;
            width: 1px;
            background: $secondary-text;
            vertical-align: top;
            position: absolute;
            right: -20px;
            top: 5%;
        }
    }
    &__name {
        font-family: 'Satisfy', cursive;
        font-size: 30px;
        line-height: 30px;
        margin: 0;
        margin-bottom: -5px;
        display: inline-block
    }
}

@media (max-width: 615px){
    .main-logo {
        &__img {
            font-size: 24px;
            margin-right: 30px;
            &::after {
                right: -15px;
                top: 0;
            }
        }
        &__name {
            font-size: 24px;
        }
    }
}

@media (max-width: 400px){
    .main-logo {
        &__name {
            display: inline-block;
            font-size: 20px;
        }
    }
}