.main-nav {
    width: 100%;
    height: 75px;
    padding: 0;
    position: relative;
    &__container {
        border-bottom: 1px solid $grey-lite;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: #fff;
        width: 100%;
        height: 75px;
        padding: 0 25px;
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (max-width: 400px){
    .main-nav {
        padding: 0 15px;
    }
}