.post-item {
    width: 100%;
    padding-top: 100%;
    background-size: cover !important;
    background-position: center center !important;
    position: relative;
    &.has-slides,
    &.is-video {
        &::after {
            display: inline-block;
            content: '\f03d';
            font-family: FontAwesome;
            color: #fff;
            font-size: 18px;
            position: absolute;
            top: 8px;
            right: 8px;
            z-index: 1;
        }
    }
    &.has-slides::after {
        content: '\f24d';
    }
    &:hover {
        .post-item__info {
            opacity: 1;
            span {
                 transform: translateY(0px);
            }
        }
    }
    &__info {
        display: flex;
        justify-content: center;
        align-items: center; 
        flex-wrap: wrap;
        align-content: center;
        background: rgba(0,0,0,0.3);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0;
        transition: opacity 0.25s ease;
        z-index: 2;
        span {
            width: 100%;
            color: #fff;
            display: block;
            text-align: center;
            margin-bottom: 4px;
            transform: translateY(5px);
            transition: transform 0.25s ease;
            i {
                margin-right: 6px;
            }
        }
    }
}