.simple-btn {
    border-radius: 2px;
    border: 1px solid $grey-lite;
    display: inline-block;
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 500;
    transition: box-shadow 0.25s ease;
    cursor: pointer;
    &:hover {
        box-shadow: 0 0 2px 0 #ddd inset;
    }
}