.post-overlay {
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: scroll;
    z-index: 1000;
    &::after,
    &::before {
        content: '';
        width: 100%;
        height: 50px;
        flex-shrink: 0;
    }
    &__content {
        display: inline-block;
        background: transparent;
        width: 100%;
        margin: 0 auto;
        flex-shrink: 0;
    }
    &__close {
        background: transparent;
        border: none;
        color: #fff;
        font-size: 28px;
        position: absolute;
        top: 10px;
        right: 15px;
        cursor: pointer;
    }
    &__forward,
    &__back {
        display: none;
    }
}

@media (min-width: 700px){
    .post-overlay {
        .post-card {
            border-radius: 0px;
            border: none;
            margin: 0px auto 0;
        }
        &__forward,
        &__back {
            display: block;
            border: none;
            background: transparent;
            font-size: 28px;
            padding: 1px 7px 2px;
            color: #fff;
            opacity: 0.8;
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
            cursor: pointer;
        }
        &__back {
            right: initial;
            left: 5px;
        }
    }
}
