   .video-component {
        width: 100%;
        background-repeat: no-repeat !important;
        background-size: cover !important;
        background-position: center center;
        background-color: #fff;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        &::before {
            display: inline-block;
            content: '\f04b';
            font-family: 'FontAwesome';
            font-size: 38px;
            color: #fff;
            position: absolute;
            right: 50%;
            top: 50%;
            transform: translate(50%,-50%);
            z-index: 5;
        }
       video {
            width: 100%;
            position: absolute;
            top: 50%;
            right: 50%;
            transform: translate(50%,-50%);
       }
       &.playing {
           &::before {
            display: none;
           }
       }
    }