
$default-text: #262626;
$secondary-text: #999;

$grey: #a1a1a1;
$grey-lite: rgba(0,0,0,.0975);
$grey-bg: #fafafa;

$blue-lite: #4fbbff;

$link-blue: #003269;
$link-blue-hover: lighten($link-blue, 15%);